<h1>
  The Premise
</h1>

<p>
    TSC UI Components are additional UI controls, widgets, and behaviors that can be used in a an Angular application. 
    It does not replace any Angular UI Components such as Angular Material or Bootstrap. 
    It is built on top of Angular Material and, thus, it is using the Angular Material controls and styles to create the components. 
    The reason for creating these controls in this library is because currently, 
    there is either no available Angular equivalent implementation or 
    no formal reusable component available (i.e. found as a solution in forums). 
    Another reason that these controls are available here is due to some reasons that 
    the currently available equivalent controls may lack certain features or does not satisfy certain requirements.
</p>
<p>  
  This application demonstrates the different TSC UI Components that are available for use. 
  Below are the list of components currently available:
</p>
<ul>
  <li><a routerLink="/demo/message-box">Message Box</a></li>
</ul>
<p>
  To view the demo, click on the link from the list above or from the menu.
</p>