<h1>Message Box</h1>
<mat-divider></mat-divider>
<div>
  <h3>Basic Usage</h3>
  <p>Displays a basic message box with title and message.</p>
  <button mat-button (click)="showBasic()">Show Basic</button>

  <h3>Message Box Buttons</h3>
  <p>Displays a message box with different button options.</p>
  <button mat-button (click)="showOkCancel()">Show OK/Cancel</button><br />
  <button mat-button (click)="showAbortRetryIgnore()">Show Abort/Retry/Ignore</button><br />
  <button mat-button (click)="showYesNoCancel()">Show Yes/No/Cancel</button><br />
  <button mat-button (click)="showYesNo()">Show Yes/No</button><br />
  <button mat-button (click)="showRetryCancel()">Show Retry/Cancel</button><br />

  <h3>Callback</h3>
  <p>Displays a message box with a callback after user selects any of the message buttons</p>
  <button mat-button (click)="showWithCallback()">Show with Callback</button><br />
</div>
